<template name="claimTicket">
  <h2>Reserve then Claim Ether
  </h2>

  <div class="row">
    <div class="col-md-6">
      <h3>Ticket</h3>
      <h5>Ether amount: <strong data-bind="text: numEther"></strong></h5>
      <h5>Total Price BTC: <strong data-bind="text: totalPrice"></strong></h5>
      <h5>Bitcoin Address: <strong data-bind="text: btcAddr"></strong></h5>
    </div>
    <div class="col-md-6">
      <h3>Bitcoin Transaction</h3>
      <h5>Ether Fee to Claimer: <strong data-bind="text: encodedFee"></strong></h5>
      <h5>BTC: <strong data-bind="text: btcPayment"></strong></h5>
      <h5>Bitcoin Address: <strong data-bind="text: paymentAddr"></strong></h5>
      <h5>Ether address: <strong data-bind="text: etherAddr"></strong></h5>
    </div>
  </div>

  <form class="form">
    <fieldset>
      <label>Ticket ID</label>
      <input type="text" class="form-control" data-bind="value: ticketId">

      <label>Bitcoin Transaction Hash</label>
      <input type="text" class="form-control" data-bind="value: btcTxHash, disabled: !ticketNeedsToBeReserved">

      <br>
      <button type="submit" class="btn btn-default">Lookup</button>
    </fieldset>
  </form>

  <div class="row">
    <div class="col-md-6">
      <h3>Claimer</h3>
      <h5>Address: <strong data-bind="text: claimerAddr"></strong></h5>
      <h5>Expiry: <strong data-bind="text: claimExpiry"></strong></h5>
      <!-- to save space, we will toggle #txHash to readonly when a ticket is reserved -->
      <!-- <h5>Bitcoin Transaction Hash: <strong data-bind="text: claimTxHash"></strong></h5> -->
      <h5>Claimer will receive ether: <strong data-bind="text: computedFee"></strong></h5>
      <h5>Claimer needs to provide ether security deposit: <strong data-bind="text: depositRequired"></strong></h5>
      <button type="button" class="btn btn-default"
        data-bind="click: reserveClicked,
          disabled: !isReservable,
          class: { btn-primary: ticketNeedsToBeReserved }">Reserve</button>
    </div>

    <div class="col-md-6">
      <h5>Merkle Proof</h5>
      <textarea readonly class="form-control" name="textarea" data-bind="text: merkleProof" rows="5"></textarea>
      <br>
      <button type="button" id="btnClaim" class="btn btn-default" data-bind="class: { btn-primary: !ticketNeedsToBeReserved }" onclick="claimClicked();">Claim</button>
    </div>
  </div>
</template>
