<template name="claimTicket">
  <h2>Reserve then Claim Ether
  </h2>

  <form class="form">
    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <label>Ticket ID</label>
          <input type="text" class="form-control" data-bind="value: ticketId">
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-default"
      data-bind="click: lookupClicked(true), disabled: !lookupFormComplete">Lookup</button>
  </form>

  <div class="row">
    <div class="col-md-6">
      <h3>Ticket</h3>
      <h5>Ether amount: <strong data-bind="text: numEther"></strong></h5>
      <h5>Total Price BTC: <strong data-bind="text: totalPrice"></strong></h5>
      <h5>Bitcoin Address: <strong data-bind="text: btcAddr"></strong></h5>
    </div>
    <div class="col-md-6">
      <h3>Bitcoin Transaction</h3>
      <h5>Ether Fee to Claimer: <strong data-bind="text: encodedFee"></strong></h5>
      <h5>BTC: <strong data-bind="text: btcPayment"></strong></h5>
      <h5>Bitcoin Address: <strong data-bind="text: paymentAddr"></strong></h5>
      <h5>Ether address: <strong data-bind="text: etherAddr"></strong></h5>
    </div>
  </div>

  <form class="form">
    <div class="form-group">
      <div class="row">
        <div class="col-md-7">
          <label>Bitcoin Transaction Hash</label>
          <input type="text" class="form-control" data-bind="value: btcTxHash, disabled: isClaimable">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <label>Proof of Work</label>
          <input type="text" class="form-control" data-bind="value: powNonce">
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-default"
      data-bind="click: reserveClicked,
        disabled: !isReservable,
        class: { btn-primary: isReservable }">Reserve</button>
  </form>

  <div class="row">
    <div class="col-md-6">
      <h3>Claimer</h3>
      <h5>Address: <strong data-bind="text: uiClaimerAddr"></strong></h5>
      <h5>Expiry: <strong data-bind="text: uiClaimExpiry"></strong></h5>
      <!-- to save space, we will toggle #txHash to readonly when a ticket is reserved -->
      <!-- <h5>Bitcoin Transaction Hash: <strong data-bind="text: claimTxHash"></strong></h5> -->
      <h5>Claimer will receive ether: <strong data-bind="text: computedFee"></strong></h5>
    </div>

    <div class="col-md-6">
      <h5>Merkle Proof</h5>
      <textarea disabled class="form-control" name="textarea" data-bind="text: merkleProof" rows="5"></textarea>
      <br>
      <button type="button" class="btn btn-default"
        data-bind="click: claimClicked,
          disabled: !isClaimable,
          class: { btn-primary: isClaimable }">Claim</button>
    </div>
  </div>
</template>
