<template name="offerEther">
  <form class="form">
    <fieldset>
      <label>Your Bitcoin address</label>
      <input type="text" class="form-control" data-bind="value: btcAddr">

      <label>Number of ethers</label>
      <input type="text" class="form-control" data-bind="value: numEther">

      <label>Bitcoin Price</label>
      <input type="text" class="form-control" data-bind="value: btcPrice">

      <label>Unit Price</label>
      <input type="text" readonly class="form-control" data-bind="value: unitPrice">

      <br>
      <button type="submit" class="btn btn-default">Submit offer</button>
    </fieldset>
  </form>
</template>
