<template name="offerEther">
  <h2>Offer your ether for bitcoin</h2>

  <div class="row">
    <div class="col-md-4">
      <form class="form">
        <fieldset>
          <div class="form-group">
            <label data-toggle="tooltip" data-placement="right"
              title="address where you want to receive bitcoins">
              Bitcoin address</label>
            <input type="text" class="form-control" data-bind="value: btcAddr">
          </div>

          <div class="form-group">
            <label data-toggle="tooltip" data-placement="right"
              title="how many ethers you are offering for bitcoins">Number of ethers</label>
            <input type="text" class="form-control" data-bind="value: numEther">
          </div>

          <div class="form-group">
            <label data-toggle="tooltip" data-placement="right"
              title="total amount of bitcoins you are offering for your ethers">Bitcoin Price</label>
            <input type="text" class="form-control" data-bind="value: btcPrice">
          </div>

          <div class="form-group">
            <label data-toggle="tooltip" data-placement="right"
              title="effectively how many bitcoins you are offering each ether for">Unit Price</label>
            <input type="text" readonly class="form-control" data-bind="value: unitPrice">
          </div>

          <button type="submit" class="btn btn-default">Submit offer</button>
        </fieldset>
      </form>
    </div>
  </div>
</template>
