<template name="pow">



  <h2>PoW</h2>

  <div class="row">
    <form class="form">
      <fieldset>
        <div class="form-group">
          <label data-toggle="tooltip" data-placement="right"
            title="address where you want to receive bitcoins">
            Bitcoin transaction hash</label>
          <input type="text" class="form-control" data-bind="value: btcTxHash">
        </div>
        <button type="button" class="btn btn-default"
          data-bind="click: findPoWClicked()">Find Proof of Work</button>
      </fieldset>
    </form>
  </div>

  <div data-bind="text: nonce"></div>
</template>
