<template name="pow">



  <h2>Proof of Work</h2>

  <div class="row">
    <form class="form">
      <fieldset>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label>Ticket ID</label>
              <input type="text" class="form-control" data-bind="value: ticketId">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-7">
              <label data-toggle="tooltip" data-placement="right"
                title="hash of the bitcoin transaction that will be used to reserve the ticket">
                Bitcoin Transaction Hash</label>
              <input type="text" class="form-control" data-bind="value: btcTxHash">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label data-toggle="tooltip" data-placement="right"
                title="a valid nonce is required to reserve a ticket with a given transaction hash">
                Proof of Work (nonce)</label>
              <input type="text" class="form-control" data-bind="value: nonce">
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-default"
          data-bind="click: findPoWClicked()">Compute</button>
        <button type="button" class="btn btn-default"
          data-bind="click: verifyPoWClicked()">Verify</button>
      </fieldset>
    </form>
  </div>
</template>
